* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.display-result {
  width: 100%;
  height: 15vh;
  background-color: #858694;
  position: relative;
}
.display-result .result {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}
.row-button {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.component-button {
  width: 25%;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #858694;

  
}
button {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
}
button {
  border: none;

}
.calculation button{
  background-color: #f5923e;
  color: white  ;
  font-size: 4rem;
}
.wide {
  flex: 1 0 auto
}